{% extends "base.html" %}
{% block title %}Dashboard | AuthFlow{% endblock %}
{% block content %}
<section class="dashboard-layout">
  <div class="panel hero-dashboard">
    <div>
      <h1>Welcome, {{ session.get("user_name") }}</h1>
    </div>
    <div class="status-badge verified">Logged In</div>
  </div>

  <div class="panel dashboard-actions">
    <a href="{{ url_for('register') }}" class="btn-secondary">Register</a>
    <a href="{{ url_for('logout') }}" class="btn-danger">Logout</a>
  </div>
</section>
{% endblock %}
